In [1]:

a=16
b=18
c=max(a,b)
while (c%b!=0 or c%a!=0):
 c+=1
print(c)

144

In [3]:
a=30
b=9
c=min(a,b)
while (b%c!=0 or a%c!=0):
  c=c-1
print(c)

3

In [22]:
def company(id1,name,email):
  print("hey data is ",( id1),"name",(name),"email",(email))

In [18]:
company(23, 34, "rohit")

hey data is  {23} name {34} email {'rohit'}

In [23]:
def company(id1,name,email="rohit.gupta"):
  print("hey data is ",( id1),"name",(name),"email",(email))

company(23, 34, "rohit")

hey data is  23 name 34 email rohit

In [31]:
#
def info(*var):
  print(var,type(var))


info(2,23,42)

(2, 23, 42) <class 'tuple'>

In [38]:
 #keyword variable lenth argument

def info(**kwargs):
  print(kwargs,type(kwargs))


info(age=2,salary=23,bio =" hi ")

{'age': 2, 'salary': 23, 'bio': ' hi '} <class 'dict'>

In [41]:
#args = variable argument
# kawrgs = keyword variable argument
# we can use both them in one function

def greeting():
  print("hello")

greeting()

hello

In [42]:
print(greeting)

<function greeting at 0x7f5ff6a53400>

In [45]:
x= greeting
x()
print(greeting)

# first class function jinko hum kisi variable mai pass kr ska

hello
<function greeting at 0x7f5ff6a53400>

In [44]:
print(x)

<function greeting at 0x7f5ff6a53400>

In [ ]:
# learn about high order function and first class order function

IndentationError: ignored